* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(to right, #fbc2eb, #a6c1ee);
  font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Stack Sans Text", sans-serif;
}
.flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.calculator-wrapper {
  flex-direction: column;
  height: 100vh;
}
.form-wrapper,
.form-input {
  flex-direction: column;
  width: 100%;
}
.simple-calculator {
  width: 250px;
  background: #ffffff6b;
  padding: 20px;
}
.simple-calculator:hover {
  background: #ffffff23;
}
label {
  font-size: 14px;
}
input {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.418);
  padding: 5px;
  width: 100%;
  outline: 0;
  border-radius: 4px;
}
input#sum-value {
  background: linear-gradient(90deg, #6366f1, #a855f7);
  border: 0;
  padding: 10px 0 !important;
  color: white;
  cursor: pointer;
}
.double-implementation {
  margin-top: 40px;
}
.double-implementation a {
  text-decoration: none;
  background: linear-gradient(90deg, #6366f1, #a855f7);
  border: 0;
  padding: 10px 35px !important;
  color: white;
  cursor: pointer;
}
.simple-calculator2{
    width: 360px;
}
